@charset "utf-8";

body, div{
  margin:0;
  padding:0;
}

html, body{
  height:100%;
}
.wrap{
  height: 100%;
}
.header{
  height: 70px;
  background-color: #1DDB16;
}
.container{
  min-height: 100%;
  margin-top: -170px;
}
.content{
  padding-top: 170px;
  min-width: 500px;
  max-width: 1000px;
  margin: 0 auto;
}
.section{
  overflow: hidden;
  padding: 10px;
}
.section_left{
  float: left;
  width: 50%;
}
.section_left_inner{
  padding-right: 5px;
}
.left_text{
  border: 1px solid #000;
}
.section_right{
  float: left;
  width: 50%;
}
.section_right_inner{
  padding-left: 5px;
}
.right_text{
  border: 1px solid #000;
}
.footer{
  height: 100px;
  background-color: #D5D5D5;
}
