@charset "utf-8";

body, div{
  margin:0;
  padding:0;
}

html, body{
  height:100%;
}
.wrap{
  height: 100%;
}
.header{
  height: 70px;
}
.header_inner{
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 70px;
  background-color: #1DDB16;
}

.aside{
  width:200px;
  float: left;
}
.aside::after{
  display: block;
  content: '';
  position: absolute;
  left:0;
  top:0;
  width: 199px;
  height: 100%;
  z-index: 3;
  border-right: 1px solid #f00;
}
.aside_inner{
  padding-top: 170px;
}
.container{
  position: relative;
  width: 900px;
  min-height: 100%;
  margin: -170px auto 0px;
  border: 1px solid black;
  border-width: 0px 1px;
}
.container::after{
  content: '';
  display: block;
  clear:both;
}
.content{
  padding-top: 170px;
  width:700px;
  margin: 0 auto;
  float: left;
}
.section{
  overflow: hidden;
  padding: 10px;
}
.section_left{
  float: left;
  width: 50%;
}
.section_left_inner{
  padding-right: 5px;
  padding-bottom: 10px;
}
.left_text{
  height: 250px;
  border: 1px solid #000;
}
.section_right{
  float: left;
  width: 50%;
}
.section_right_inner{
  padding-left: 5px;
  padding-bottom: 10px;
}
.right_text{
  height: 250px;
  border: 1px solid #000;
}
.footer{
  height: 100px;
  background-color: #D5D5D5;
}
